@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <!--<link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">-->
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap-responsive.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">

        <link href="@routes.Assets.versioned("stylesheets/font-awesome.css")" rel="stylesheet">

        <link href="@routes.Assets.versioned("stylesheets/animate.css")" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.versioned("images/ico/apple-touch-icon-144-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.versioned("images/ico/apple-touch-icon-114-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("images/ico/apple-touch-icon-72-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" href="@routes.Assets.versioned("images/ico/apple-touch-icon-57-precomposed.png")">

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/inspinia.js")"></script>

        <!-- Mainly scripts -->
        <!--<script src="@routes.Assets.versioned("javascripts/jquery-2.1.1.js")"></script>-->
        <!--<script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>-->
        <script src="@routes.Assets.versioned("javascripts/plugins/metisMenu/jquery.metisMenu.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins/slimscroll/jquery.slimscroll.min.js")"></script>

        <!-- Flot -->
        <script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.tooltip.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.spline.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.resize.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.pie.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.symbol.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.time.js")"></script>

        <!-- Custom and plugin javascript -->
        <script src="@routes.Assets.versioned("javascripts/inspinia.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/plugins/pace/pace.min.js")"></script>

        <!-- Sparkline -->
        <script src="@routes.Assets.versioned("javascripts/plugins/sparkline/jquery.sparkline.min.js")"></script>

    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content


    </body>
</html>
