@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <!--<link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">-->
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap-responsive.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/docs.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/prettyPhoto.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("javascripts/google-code-prettify/prettify.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/flexslider.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/sequence.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">
        <link type="text/css" href="@routes.Assets.versioned("stylesheets/color/default.css")" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.versioned("images/ico/apple-touch-icon-144-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.versioned("images/ico/apple-touch-icon-114-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("images/ico/apple-touch-icon-72-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" href="@routes.Assets.versioned("images/ico/apple-touch-icon-57-precomposed.png")">

    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.easing.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/google-code-prettify/prettify.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/modernizr.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.elastislide.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/sequence/sequence.jquery-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/sequence/setting.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.prettyPhoto.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/application.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.flexslider.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/hover/jquery-hover-effect.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/hover/setting.js")"></script>

        <!-- Template Custom JavaScript File -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/custom.js")"></script>

        <script type="text/javascript" src="https://code.highcharts.com/highcharts.src.js"></script>
    </body>
</html>
